$inactive-li-items: hsla(235, 0%, 56%, 1);
$active-li-items: hsla(235, 0%, 24%, 1);
$transition-time: 300ms;
$section-height: 90vh;
$section-ptop: 30rem;

$primary-color-1: hsla(173, 93%, 88%, 1);
$primary-color-2: hsla(164, 100%, 85%, 1);
$secondary-color: hsla(338, 89%, 58%, 1);